---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Marquee from '../components/Marquee.astro';
import Statement from '../components/Statement.astro';
import ProductRange from '../components/ProductRange.astro';
import WhyDBA from '../components/WhyDBA.astro';
import CalculatorCTA from '../components/CalculatorCTA.astro';
import Catalogs from '../components/Catalogs.astro';
import LeadForm from '../components/LeadForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Marquee />
    <Statement />
    <ProductRange />
    <WhyDBA />
    <CalculatorCTA />
    <Catalogs />
    <LeadForm />
  </main>
  <Footer />
</Layout>
